{% extends "common/layout.html" %}


{% block content %}


<div class="container mt-4">
    <h3>ToDoリスト</h3>
    <table class="table table-dark table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">予定</th>
                <th scope="col">期日</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                {% if item[3] < 0 %} <th scope="row" class="text-danger">期限切れ</th>
                    {% elif item[3] < 7 %} <th scope="row" class="text-warning">あと数日</th>
                        {% else %} <th scope="row" class="text-info">1週間以上</th>
                        {% endif %}
                        <td>{{item[1]}}</td>
                        <td>{{item[2]}}</td>
                        <td>
                            <form action="{{ url_for('todo_edit', id = item[0]) }}" method="POST">
                                <input class="btn btn-primary btn-sm" type="submit" value="編集">
                            </form>
                        </td>
                        <td>
                            <form action="{{ url_for('todo_delete', id = item[0]) }}" method="POST">
                                <input class="btn btn-outline-danger btn-sm" type="submit" value="削除">
                            </form>
                        </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}